# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Environment variables
.env

# Data (keep large/raw datasets out of Git)
datasets/raw/
datasets/processed/

# VS Code
.vscode/
